name: Supply Chain Security Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  sbom-process:
    runs-on: ubuntu-latest
    steps:
      # 1. 소스코드 내려받기
      - name: Checkout Code
        uses: actions/checkout@v3

      # 2. SBOM 생성 (Syft 도구 사용)
      - name: Generate SBOM
        uses: anchore/sbom-action@v0
        with:
          path: .
          format: cyclonedx-json
          output-file: sbom.json

      # [추가됨] 2.5 Trivy 보안 문지기 (여기서 차단!)
      - name: Run Trivy Vulnerability Scanner
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'fs'
          scan-ref: '.'
          format: 'table'
          exit-code: '1'           #  중요: 취약점 발견 시 에러(1) 발생 -> 파이프라인 중단
          ignore-unfixed: true     # 패치 없는 건 일단 무시 (선택사항)
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH' # Critical, High 등급만 차단

      # 3. Dependency-Track으로 전송 (Trivy가 통과시켜줘야 실행됨)
      - name: Upload to Dependency-Track
        uses: DependencyTrack/gh-upload-sbom@v1.0.0
        with:
          serverHostname: ${{ secrets.DTRACK_URL }}
          apiKey: ${{ secrets.DTRACK_KEY }}
          autoCreate: true
          bomFilename: sbom.json
          projectName: sbom-demo
          projectVersion: 1.0.0